openapi: 3.0.3
info:
  title: Notification Service API
  description: API cho việc gửi thông báo qua email, SMS, in-app, Zalo, Google Chat.
  version: 1.0.0
  contact:
    name: DX VAS Platform Team
    email: dev@truongvietanh.edu.vn
servers:
- url: https://notification.truongvietanh.edu.vn/api/v1
tags:
- name: Notification
  description: Các API gửi thông báo và kiểm tra trạng thái gửi thông báo
paths:
  /notifications/send:
    post:
      tags:
      - Notification
      summary: Gửi thông báo đơn lẻ tới người dùng
      description: Gửi thông báo từ một template định nghĩa sẵn tới danh sách người
        nhận qua nhiều kênh.
      operationId: sendNotification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRequest'
            examples:
              default:
                summary: Gửi nhắc điểm học kỳ
                value:
                  recipient_ids:
                  - u123
                  - u456
                  channels:
                  - email
                  - zalo
                  - app
                  template_code: REMINDER_SCORE_AVAILABLE
                  payload:
                    student_name: Nguyễn Văn A
                    term: HK1
                    score_link: https://example.edu.vn/score
                  priority: high
                  metadata:
                    trace_id: abc-xyz
                    requested_by: admin_001
      responses:
        '200':
          description: Gửi thông báo thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NotificationResult'
                  error:
                    type: object
                    nullable: true
                    description: Trường error sẽ là null khi thành công
                    example: null
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
              examples:
                success:
                  summary: Trả về dispatch_id
                  value:
                    data:
                      dispatch_id: dispatch_123
                      status: queued
                    error: null
                    meta:
                      timestamp: '2025-07-10T13:00:00Z'
                      trace_id: trace-notif-send
        '400':
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /notifications/schedule-reminder:
    post:
      tags:
      - Notification
      summary: Gửi nhắc học bài theo lịch
      description: Dùng bởi LMS Adapter để gửi notification nhắc học bài theo lịch
        hẹn trước.
      operationId: scheduleReminderNotification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReminderScheduleRequest'
            examples:
              default:
                summary: Nhắc học bài Toán cho học sinh Nam
                value:
                  student_id: stu_123
                  lesson_id: lsn_456
                  channel: zalo
                  template_code: REMINDER_LESSON
                  payload:
                    student_name: Nam
                    lesson_title: Toán - HK1
                  schedule_at: '2025-07-12T08:00:00Z'
      responses:
        '200':
          description: Đặt lịch nhắc học bài thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NotificationResult'
                  error:
                    type: object
                    nullable: true
                    description: Trường error sẽ là null khi thành công
                    example: null
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
              examples:
                success:
                  summary: Lịch nhắc đã được lên lịch
                  value:
                    data:
                      dispatch_id: dispatch_remind_001
                      status: scheduled
                    error: null
                    meta:
                      timestamp: '2025-07-10T13:10:00Z'
                      trace_id: trace-schedule-reminder
        '400':
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /notifications/bulk:
    post:
      tags:
      - Notification
      summary: Gửi thông báo hàng loạt
      description: Dùng bởi CRM Adapter để gửi notification hàng loạt đến danh sách
        người nhận qua nhiều kênh.
      operationId: sendBulkNotification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkNotificationRequest'
            examples:
              default:
                summary: Thông báo khuyến mãi CRM cho phụ huynh
                value:
                  recipients:
                  - parent1@example.com
                  - parent2@example.com
                  channels:
                  - email
                  - sms
                  template_code: CRM_PROMOTION
                  payload:
                    discount_code: ABC123
                    deadline: 30/08/2025
                  metadata:
                    campaign_id: crm_august
                    requested_by: crm-adapter
      responses:
        '200':
          description: Gửi thông báo hàng loạt thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NotificationResult'
                  error:
                    type: object
                    nullable: true
                    description: Trường error sẽ là null khi thành công
                    example: null
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
              examples:
                success:
                  summary: Gửi thành công với dispatch_id
                  value:
                    data:
                      dispatch_id: dispatch_bulk_456
                      status: queued
                    error: null
                    meta:
                      timestamp: '2025-07-10T13:20:00Z'
                      trace_id: trace-bulk-notif
        '400':
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /notifications/{dispatch_id}:
    get:
      tags:
      - Notification
      summary: Truy vấn trạng thái gửi thông báo
      description: Truy xuất trạng thái gửi chi tiết của một dispatch cụ thể (qua
        từng kênh và người nhận).
      operationId: getNotificationDispatchStatus
      parameters:
      - name: dispatch_id
        in: path
        required: true
        schema:
          type: string
        description: Mã định danh của dispatch
      responses:
        '200':
          description: Trạng thái gửi được tìm thấy
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NotificationStatusOut'
                  error:
                    type: object
                    nullable: true
                    description: Trường error sẽ là null khi thành công
                    example: null
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
              examples:
                success:
                  summary: Trạng thái gửi qua email + sms
                  value:
                    data:
                      dispatch_id: dispatch_abc
                      status: partially_failed
                      channels:
                      - channel: email
                        status: sent
                        sent_at: '2025-07-10T13:22:00Z'
                        error_message: ''
                      - channel: sms
                        status: failed
                        error_message: Invalid phone number
                      failures:
                      - recipient: parent@example.com
                        channel: sms
                        error_message: Invalid phone number
                    error: null
                    meta:
                      timestamp: '2025-07-10T13:23:00Z'
                      trace_id: trace-dispatch-status
        '404':
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /notifications:
    get:
      tags:
      - Notification
      summary: Lấy danh sách thông báo đã gửi
      description: Truy vấn danh sách notification đã gửi theo bộ lọc người nhận,
        trạng thái, kênh, template.
      operationId: listNotifications
      parameters:
      - name: recipient_id
        in: query
        schema:
          type: string
        description: ID người nhận notification
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - sent
          - failed
          - delivered
          - read
        description: Lọc theo trạng thái gửi
      - name: channel
        in: query
        schema:
          type: string
          enum:
          - email
          - sms
          - zalo
          - app
          - google_chat
        description: Lọc theo kênh gửi
      - name: template_code
        in: query
        schema:
          type: string
        description: Mã template của thông báo
      - name: read_status
        in: query
        schema:
          type: string
          enum:
          - read
          - unread
        description: Lọc theo trạng thái đã đọc
      - name: page
        in: query
        schema:
          type: integer
          example: 1
        description: Trang hiện tại
      - name: limit
        in: query
        schema:
          type: integer
          example: 10
        description: Số bản ghi mỗi trang
      responses:
        '200':
          description: Danh sách thông báo đã gửi
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  error:
                    type: object
                    nullable: true
                    description: Trường error sẽ là null khi thành công
                    example: null
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
              examples:
                success:
                  summary: Hai thông báo gần đây
                  value:
                    data:
                    - id: notif_001
                      channel: email
                      recipient: parent@example.com
                      template_code: REMINDER_SCORE_AVAILABLE
                      payload:
                        student_name: Nam
                        term: HK1
                      status: sent
                      created_at: '2025-07-10T12:30:00Z'
                      sent_at: '2025-07-10T12:31:00Z'
                      scheduled_at: null
                      dispatch_id: dispatch_abc
                      retry_count: 0
                    - id: notif_002
                      channel: sms
                      recipient: 0901234567
                      template_code: CRM_PROMOTION
                      payload:
                        discount_code: ABC123
                      status: failed
                      error_message: Invalid phone number
                      created_at: '2025-07-10T12:45:00Z'
                      sent_at: null
                      scheduled_at: null
                      dispatch_id: dispatch_bulk_456
                      retry_count: 1
                    error: null
                    meta:
                      timestamp: '2025-07-10T13:30:00Z'
                      trace_id: trace-list-notifs
                      total_items: 2
                      total_pages: 1
                      current_page: 1
                      per_page: 10
        '400':
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    ErrorResponse:
      description: Lỗi xảy ra trong quá trình xử lý
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  schemas:
    ErrorEnvelope:
      type: object
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
              example: GENERIC_ERROR
            message:
              type: string
              example: Đã có lỗi xảy ra.
            details:
              type: object
              additionalProperties: true
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    ResponseMeta:
      type: object
      required:
      - timestamp
      - trace_id
      properties:
        timestamp:
          type: string
          format: date-time
          description: Thời điểm phản hồi
        trace_id:
          type: string
          description: Mã trace ID để liên kết log/tracing
    StandardSuccessResponse_Example:
      type: object
      properties:
        data:
          type: object
          properties:
            example_field:
              type: string
              example: example value
        error:
          type: object
          nullable: true
          description: Trường error sẽ là null khi thành công
          example: null
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      description: Cấu trúc phản hồi thành công chuẩn theo ADR-012.
    Notification:
      type: object
      properties:
        id:
          type: string
          description: ID của notification
          example: notif_001
        channel:
          type: string
          enum:
          - email
          - sms
          - in_app
          - zalo
          - google_chat
          description: Kênh gửi notification
        recipient:
          type: string
          description: Email, số điện thoại, hoặc ID người nhận
          example: parent@example.com
        template_code:
          type: string
          description: Mã định danh template notification
          example: ENROLLMENT_CONFIRMATION
        payload:
          type: object
          description: Dữ liệu truyền vào template
          example:
            student_name: Nam
            class: Lớp 1
        status:
          type: string
          enum:
          - pending
          - sent
          - failed
          - delivered
          - read
          description: Trạng thái gửi
        error_message:
          type: string
          description: Lý do lỗi nếu gửi thất bại (null nếu thành công)
          nullable: true
        created_at:
          type: string
          format: date-time
          description: Thời điểm tạo notification
        sent_at:
          type: string
          format: date-time
          description: Thời điểm gửi thực tế (có thể null nếu chưa gửi)
          nullable: true
        scheduled_at:
          type: string
          format: date-time
          description: Thời điểm dự kiến gửi
          nullable: true
        dispatch_id:
          type: string
          description: Mã định danh của đợt gửi (dispatch), có thể null nếu gửi trực
            tiếp
          nullable: true
        retry_count:
          type: integer
          description: Số lần đã thử gửi lại
          example: 1
      required:
      - channel
      - recipient
      - template_code
      - payload
      - id
    NotificationRequest:
      type: object
      properties:
        recipient_ids:
          type: array
          items:
            type: string
            example: u123
          description: Danh sách ID người nhận
        channels:
          type: array
          items:
            type: string
            enum:
            - email
            - zalo
            - app
            - sms
            - google_chat
          description: Các kênh thông báo
        template_code:
          type: string
          description: Mã template định nghĩa loại thông báo
          example: REMINDER_SCORE_AVAILABLE
        payload:
          type: object
          description: Dữ liệu điền vào template
          example:
            student_name: Nguyễn Văn A
            term: HK1
            score_link: https://...
        priority:
          type: string
          enum:
          - low
          - normal
          - high
          description: Mức độ ưu tiên gửi
          example: high
        metadata:
          type: object
          description: Thông tin bổ sung cho tracking/log
          example:
            trace_id: abc-xyz
            requested_by: admin_user_id_123
      required:
      - recipient_ids
      - channels
      - template_code
      - payload
    NotificationResult:
      type: object
      properties:
        dispatch_id:
          type: string
          description: ID cho chiến dịch gửi notification
          example: dispatch_123
        status:
          type: string
          enum:
          - queued
          - scheduled
          - sent
          description: Trạng thái gửi
      required:
      - dispatch_id
      - status
    ReminderScheduleRequest:
      type: object
      properties:
        student_id:
          type: string
          description: ID học sinh cần nhắc học bài
          example: stu_123
        lesson_id:
          type: string
          description: ID bài học cần nhắc
          example: lsn_456
        channel:
          type: string
          enum:
          - email
          - sms
          - app
          - zalo
          description: Kênh thông báo
        template_code:
          type: string
          description: Mã template để gửi thông báo
          example: REMINDER_LESSON
        payload:
          type: object
          description: Nội dung biến động cho template
          example:
            student_name: Nam
            lesson_title: Toán - HK1
        schedule_at:
          type: string
          format: date-time
          description: Thời điểm dự kiến gửi notification
          example: '2025-07-12T08:00:00Z'
      required:
      - student_id
      - lesson_id
      - channel
      - template_code
      - payload
      - schedule_at
    BulkNotificationRequest:
      type: object
      properties:
        recipients:
          type: array
          items:
            type: string
            example: parent@example.com
          description: Danh sách người nhận (email hoặc ID)
        channels:
          type: array
          items:
            type: string
            enum:
            - email
            - sms
            - zalo
            - app
            - google_chat
          description: Danh sách kênh thông báo
        template_code:
          type: string
          description: Mã template áp dụng cho toàn bộ danh sách
          example: CRM_PROMOTION
        payload:
          type: object
          description: Dữ liệu động cho template
          example:
            discount_code: ABC123
            deadline: 30/08/2025
        metadata:
          type: object
          description: Thông tin tracking nội bộ
          example:
            campaign_id: crm_august
            requested_by: crm-adapter
      required:
      - recipients
      - channels
      - template_code
      - payload
    NotificationStatusOut:
      type: object
      properties:
        dispatch_id:
          type: string
          description: ID của dispatch gửi notification
          example: dispatch_abc
        status:
          type: string
          enum:
          - queued
          - scheduled
          - sent
          - partially_failed
          - failed
          description: Trạng thái tổng thể của dispatch
        channels:
          type: array
          description: Chi tiết trạng thái theo từng kênh
          items:
            type: object
            properties:
              channel:
                type: string
                example: email
              status:
                type: string
                example: sent
              sent_at:
                type: string
                format: date-time
                example: '2025-07-10T13:22:00Z'
              error_message:
                type: string
                example: ''
        failures:
          type: array
          description: Danh sách người nhận/kênh bị lỗi (nếu có)
          items:
            type: object
            properties:
              recipient:
                type: string
                example: parent@example.com
              channel:
                type: string
                example: sms
              error_message:
                type: string
                example: Invalid phone number
      required:
      - dispatch_id
      - status
