openapi: 3.0.3
info:
  title: User Service Master API
  description: |
    Dịch vụ quản lý định danh người dùng toàn cục, tenant và RBAC templates trong hệ thống đa tenant của dx_vas.
    Phục vụ Auth Services, Sub User Services và các ứng dụng quản trị Superadmin.
  version: 1.0.0

servers:
  - url: https://api.truongvietanh.edu.vn/user-service/master
    description: Production
  - url: https://staging.truongvietanh.edu.vn/user-service/master
    description: Staging
  - url: http://localhost:8000
    description: Local Development

tags:
  - name: Users Global
    description: Quản lý người dùng toàn cục
  - name: Tenants
    description: Quản lý thông tin tenant
  - name: User-Tenant Assignments
    description: Gán người dùng vào tenant
  - name: RBAC Templates
    description: Quản lý role/permission template toàn cục

paths:
  /users-global:
    get:
      summary: Danh sách người dùng toàn cục (Master)
      tags:
        - users-global
      description: |
        Trả về danh sách người dùng toàn hệ thống (không phụ thuộc tenant).
        Hỗ trợ phân trang, tìm kiếm và sắp xếp.
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Trang hiện tại
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Số lượng bản ghi mỗi trang
        - in: query
          name: search
          schema:
            type: string
          description: Tìm theo tên hoặc email
        - in: query
          name: auth_provider
          schema:
            type: string
            enum: [local, google]
          description: Lọc theo loại đăng nhập
        - in: query
          name: sort_by
          schema:
            type: string
            enum: [created_at, full_name]
            default: created_at
          description: Trường dùng để sắp xếp
        - in: query
          name: sort_order
          schema:
            type: string
            enum: [asc, desc]
            default: desc
          description: Thứ tự sắp xếp
      x-required-permissions:
        - superadmin.view_all_users_global
      x-audit-action: list_users_global
      responses:
        '200':
          description: Lấy danh sách thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGlobalListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    post:
      summary: Tạo người dùng toàn cục (Master)
      tags:
        - users-global
      description: |
        Tạo mới người dùng toàn hệ thống và khởi tạo user_id duy nhất.
        Có thể phát sinh sự kiện `user_global_created` để các Sub Service đồng bộ.
      x-required-permissions:
        - auth_sub.create_user_global
        - superadmin.create_user_global
      x-audit-action: create_user_global
      x-emits-event: user_global_created
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGlobalCreateRequest'
      responses:
        '201':
          description: Tạo thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGlobalResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '409':
          $ref: '#/components/responses/ConflictError'

  /users-global/{user_id}:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string

    get:
      summary: Lấy thông tin người dùng toàn cục theo ID
      operationId: getUserGlobalById
      tags: [Users Global]
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lấy thông tin thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGlobalResponse'

    patch:
      summary: Cập nhật thông tin người dùng toàn cục
      tags:
        - users-global
      x-required-permissions:
        - superadmin.update_user_global
      x-audit-action: update_user_global
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalUserUpdate'
      responses:
        '204':
          description: Cập nhật thành công
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /tenants:
    get:
      summary: Danh sách tenant
      tags:
        - tenants
      description: Trả về danh sách các tenant (trường thành viên)
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1, minimum: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
        - in: query
          name: search
          schema: { type: string }
          description: Tìm theo tên hoặc mã tenant
        - in: query
          name: sort_by
          schema:
            type: string
            enum: [created_at, name]
          description: Trường sắp xếp
        - in: query
          name: sort_order
          schema:
            type: string
            enum: [asc, desc]
          description: Thứ tự sắp xếp
      x-required-permissions:
        - superadmin.view_tenants
      x-audit-action: list_tenants
      responses:
        '200':
          description: Lấy danh sách các trường thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantListResponse'

    post:
      summary: Tạo tenant mới
      operationId: createTenant
      tags: [Tenants]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantCreateRequest'
      responses:
        '201':
          description: Tạo thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantResponse'

  /tenants/{tenant_id}:
    parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: string

    get:
      summary: Lấy thông tin tenant theo ID
      operationId: getTenantById
      tags: [Tenants]
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Lấy thông tin trường thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantResponse'

    patch:
      summary: Cập nhật thông tin tenant
      tags:
        - tenants
      x-required-permissions:
        - superadmin.update_tenant
      x-audit-action: update_tenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantUpdateRequest'
      responses:
        '204':
          description: Cập nhật thành công


  /user-tenant-assignments:
    get:
      summary: Danh sách gán người dùng vào tenant
      tags:
        - user-tenant-assignments
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1, minimum: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
        - in: query
          name: user_id
          schema: { type: string }
        - in: query
          name: tenant_id
          schema: { type: string }
        - in: query
          name: sort_by
          schema:
            type: string
            enum: [created_at]
        - in: query
          name: sort_order
          schema:
            type: string
            enum: [asc, desc]
      x-required-permissions:
        - superadmin.view_user_assignments
      x-audit-action: list_user_tenant_assignments
      responses:
        '200':
          description: Lấy danh sách thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTenantAssignmentListResponse'

    post:
      summary: Gán user vào tenant
      tags:
        - user-tenant-assignments
      x-required-permissions:
        - superadmin.assign_user_to_tenant
      x-audit-action: assign_user_to_tenant
      x-emits-event: user_assigned_to_tenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTenantAssignmentCreateRequest'
      responses:
        '201':
          description: Tạo thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTenantAssignmentResponse'

  /user-tenant-assignments/{id}:
    patch:
      summary: Cập nhật trạng thái gán người dùng vào tenant
      operationId: updateUserTenantAssignment
      tags: [User-Tenant Assignments]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTenantAssignmentUpdateRequest'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTenantAssignmentResponse'

  /rbac/templates/roles:
    get:
      summary: Danh sách RBAC Template Role
      tags:
        - rbac-templates
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 20 }
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: sort_by
          schema:
            type: string
            enum: [template_code, created_at]
        - in: query
          name: sort_order
          schema:
            type: string
            enum: [asc, desc]
      x-required-permissions:
        - superadmin.view_rbac_templates
      x-audit-action: list_rbac_template_roles
      responses:
        '200':
          description: Lấy danh sách thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleTemplateListResponse'
      x-note: >
        RBAC templates là metadata toàn cục (global metadata), không thuộc phạm vi áp dụng của ADR-026 (multi-tenant versioning) và ADR-027 (data management strategy).

  /rbac/templates/roles/{template_id}:
    patch:
      summary: Cập nhật Role Template
      operationId: updateGlobalRoleTemplate
      tags: [RBAC Templates]
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalRoleTemplateUpdate'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleTemplateResponse'

    delete:
      summary: Xoá Role Template
      operationId: deleteGlobalRoleTemplate
      tags: [RBAC Templates]
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Xoá thành công

  /rbac/templates/permissions:
    get:
      summary: Danh sách RBAC Template Permission
      tags:
        - rbac-templates
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 20 }
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: sort_by
          schema:
            type: string
            enum: [permission_code, created_at]
        - in: query
          name: sort_order
          schema:
            type: string
            enum: [asc, desc]
      x-required-permissions:
        - superadmin.view_rbac_templates
      x-audit-action: list_rbac_template_permissions
      responses:
        '200':
          description: Lấy danh sách thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionTemplateListResponse'
      x-note: >
        RBAC templates là metadata toàn cục (global metadata), không thuộc phạm vi áp dụng của ADR-026 (multi-tenant versioning) và ADR-027 (data management strategy).


  /rbac/templates/permissions/{template_id}:
    patch:
      summary: Cập nhật Permission Template
      operationId: updateGlobalPermissionTemplate
      tags: [RBAC Templates]
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalPermissionTemplateUpdate'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionTemplateResponse'

    delete:
      summary: Xoá Permission Template
      operationId: deleteGlobalPermissionTemplate
      tags: [RBAC Templates]
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Xoá thành công

components:
  responses:
    BadRequestError:
      description: Yêu cầu không hợp lệ
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'

    ForbiddenError:
      description: Không có quyền truy cập
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'

    NotFoundError:
      description: Không tìm thấy tài nguyên
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'

    UnauthorizedError:
      description: Chưa xác thực
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'

    ConflictError:
      description: Xung đột
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'

  schemas:
    UserGlobal:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        full_name:
          type: string
        email:
          type: string
          format: email
        auth_provider:
          type: string
          enum: [google, local, otp]
      required: [user_id, full_name, email, auth_provider]

    UserGlobalCreateRequest:
      type: object
      properties:
        full_name:
          type: string
        email:
          type: string
          format: email
        auth_provider:
          type: string
          enum: [google, local, otp]
      required: [full_name, email, auth_provider]

    UserGlobalResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/UserGlobal'

    Tenant:
      type: object
      properties:
        tenant_id:
          type: string
        tenant_name:
          type: string
        status:
          type: string
      required: [tenant_id, tenant_name, status]

    TenantCreateRequest:
      type: object
      properties:
        tenant_name:
          type: string
        status:
          type: string
          default: active
      required: [tenant_name]

    TenantResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/Tenant'

    TenantListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Tenant'
            meta:
              $ref: '#/components/schemas/ResponseMeta'

    UserTenantAssignment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id_global:
          type: string
          format: uuid
        tenant_id:
          type: string
        assignment_status:
          type: string
          enum: [active, revoked]
      required: [id, user_id_global, tenant_id, assignment_status]

    UserTenantAssignmentCreateRequest:
      type: object
      properties:
        user_id_global:
          type: string
          format: uuid
        tenant_id:
          type: string
      required: [user_id_global, tenant_id]

    UserTenantAssignmentUpdateRequest:
      type: object
      properties:
        assignment_status:
          type: string
          enum: [active, revoked]
      required: [assignment_status]

    UserTenantAssignmentResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/UserTenantAssignment'

    GlobalRoleTemplateUpdate:
      type: object
      properties:
        description:
          type: string
          nullable: true

    GlobalPermissionTemplateUpdate:
      type: object
      properties:
        action:
          type: string
        resource:
          type: string
        default_condition:
          type: object
          nullable: true
        description:
          type: string
          nullable: true

    RoleTemplateResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/GlobalRoleTemplate'

    PermissionTemplateResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/GlobalPermissionTemplate'

    GlobalRoleTemplate:
      type: object
      properties:
        template_id:
          type: string
          format: uuid
        template_code:
          type: string
        description:
          type: string
          nullable: true
      required: [template_id, template_code]

    GlobalPermissionTemplate:
      type: object
      properties:
        template_id:
          type: string
          format: uuid
        permission_code:
          type: string
        action:
          type: string
        resource:
          type: string
        default_condition:
          type: object
          nullable: true
          description: Điều kiện mặc định dưới dạng JSON (JSONB)
        description:
          type: string
          nullable: true
      required: [template_id, permission_code, action, resource]

    GlobalUserUpdate:
      type: object
      properties:
        full_name:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        status:
          type: string
          enum: [pending, active, inactive, deleted]
          nullable: true
          description: Trạng thái vòng đời người dùng toàn cục.

    UserGlobalListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/UserGlobalResponse'
            meta:
              $ref: '#/components/schemas/ResponseMeta'

    UserTenantAssignmentListResponse:
      type: object
      description: Kết quả danh sách user được gán vào tenant
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserTenantAssignmentResponse'
        error:
          type: object
          nullable: true
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    RoleTemplateListResponse:
      type: object
      description: Danh sách role templates toàn cục
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RoleTemplateResponse'
        error:
          type: object
          nullable: true
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    PermissionTemplateListResponse:
      type: object
      description: Danh sách permission templates toàn cục
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PermissionTemplateResponse'
        error:
          type: object
          nullable: true
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    TenantUpdateRequest:
      type: object
      description: Payload cập nhật thông tin một tenant
      properties:
        tenant_name:
          type: string
          nullable: true
          description: Tên mới của tenant (nếu cần cập nhật)
        status:
          type: string
          nullable: true
          enum: [active, inactive]
          description: Trạng thái mới của tenant
      additionalProperties: false

    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Mã lỗi ứng dụng (application-level code)
        message:
          type: string
          description: Mô tả lỗi dành cho frontend hoặc ghi log
        field:
          type: string
          nullable: true
          description: Nếu là lỗi validate trường cụ thể

    ResponseMeta:
      type: object
      required: [request_id, timestamp]
      properties:
        request_id:
          type: string
        timestamp:
          type: string
          format: date-time
        page:
          type: integer
          nullable: true
        per_page:
          type: integer
          nullable: true
        total:
          type: integer
          nullable: true

    ErrorEnvelope:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponse'

    SuccessEnvelope:
      type: object
      properties:
        data:
          type: object
          description: Dữ liệu trả về (có thể là object hoặc array)
        error:
          type: object
          nullable: true
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required: [data, meta]

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
