openapi: 3.0.3
info:
  title: User Service Master API
  description: |
    Dịch vụ quản lý định danh người dùng toàn cục, tenant và RBAC templates trong hệ thống đa tenant của dx_vas.
    Phục vụ Auth Services, Sub User Services và các ứng dụng quản trị Superadmin.
  version: 1.0.0

servers:
  - url: https://api.truongvietanh.edu.vn/user-service/master
    description: Production
  - url: https://staging.truongvietanh.edu.vn/user-service/master
    description: Staging
  - url: http://localhost:8000
    description: Local Development

tags:
  - name: Users Global
    description: Quản lý người dùng toàn cục
  - name: Tenants
    description: Quản lý thông tin tenant
  - name: User-Tenant Assignments
    description: Gán người dùng vào tenant
  - name: RBAC Templates
    description: Quản lý role/permission template toàn cục

paths:
  /users-global:
    post:
      summary: Tạo người dùng toàn cục
      operationId: createUserGlobal
      tags: [Users Global]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGlobalCreateRequest'
      responses:
        '201':
          description: Tạo thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGlobalResponse'

  /users-global/{user_id}:
    get:
      summary: Lấy thông tin người dùng toàn cục theo ID
      operationId: getUserGlobalById
      tags: [Users Global]
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGlobalResponse'

  /tenants:
    get:
      summary: Lấy danh sách tenants
      operationId: listTenants
      tags: [Tenants]
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantListResponse'

    post:
      summary: Tạo tenant mới
      operationId: createTenant
      tags: [Tenants]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantCreateRequest'
      responses:
        '201':
          description: Tạo thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantResponse'

  /tenants/{tenant_id}:
    get:
      summary: Lấy thông tin tenant theo ID
      operationId: getTenantById
      tags: [Tenants]
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantResponse'

  /user-tenant-assignments:
    get:
      summary: Lấy danh sách các gán người dùng vào tenant
      operationId: listUserTenantAssignments
      tags: [User-Tenant Assignments]
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTenantAssignmentListResponse'

    post:
      summary: Gán người dùng vào tenant
      operationId: createUserTenantAssignment
      tags: [User-Tenant Assignments]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTenantAssignmentCreateRequest'
      responses:
        '201':
          description: Tạo thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTenantAssignmentResponse'

  /user-tenant-assignments/{id}:
    patch:
      summary: Cập nhật trạng thái gán người dùng vào tenant
      operationId: updateUserTenantAssignment
      tags: [User-Tenant Assignments]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTenantAssignmentUpdateRequest'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTenantAssignmentResponse'

  /rbac/templates/roles/{template_id}:
    patch:
      summary: Cập nhật Role Template
      operationId: updateGlobalRoleTemplate
      tags: [RBAC Templates]
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalRoleTemplateUpdate'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleTemplateResponse'

    delete:
      summary: Xoá Role Template
      operationId: deleteGlobalRoleTemplate
      tags: [RBAC Templates]
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Xoá thành công

  /rbac/templates/permissions/{template_id}:
    patch:
      summary: Cập nhật Permission Template
      operationId: updateGlobalPermissionTemplate
      tags: [RBAC Templates]
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalPermissionTemplateUpdate'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionTemplateResponse'

    delete:
      summary: Xoá Permission Template
      operationId: deleteGlobalPermissionTemplate
      tags: [RBAC Templates]
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Xoá thành công

components:
  schemas:
    UserGlobal:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        full_name:
          type: string
        email:
          type: string
          format: email
        auth_provider:
          type: string
          enum: [google, local, otp]
      required: [user_id, full_name, email, auth_provider]

    UserGlobalCreateRequest:
      type: object
      properties:
        full_name:
          type: string
        email:
          type: string
          format: email
        auth_provider:
          type: string
          enum: [google, local, otp]
      required: [full_name, email, auth_provider]

    UserGlobalResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/UserGlobal'

    Tenant:
      type: object
      properties:
        tenant_id:
          type: string
        tenant_name:
          type: string
        status:
          type: string
      required: [tenant_id, tenant_name, status]

    TenantCreateRequest:
      type: object
      properties:
        tenant_name:
          type: string
        status:
          type: string
          default: active
      required: [tenant_name]

    TenantResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/Tenant'

    TenantListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Tenant'

    UserTenantAssignment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id_global:
          type: string
          format: uuid
        tenant_id:
          type: string
        assignment_status:
          type: string
          enum: [active, revoked]
      required: [id, user_id_global, tenant_id, assignment_status]

    UserTenantAssignmentCreateRequest:
      type: object
      properties:
        user_id_global:
          type: string
          format: uuid
        tenant_id:
          type: string
      required: [user_id_global, tenant_id]

    UserTenantAssignmentUpdateRequest:
      type: object
      properties:
        assignment_status:
          type: string
          enum: [active, revoked]
      required: [assignment_status]

    UserTenantAssignmentResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/UserTenantAssignment'

    UserTenantAssignmentListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/UserTenantAssignment'

    GlobalRoleTemplateUpdate:
      type: object
      properties:
        description:
          type: string
          nullable: true

    GlobalPermissionTemplateUpdate:
      type: object
      properties:
        action:
          type: string
        resource:
          type: string
        default_condition:
          type: object
          nullable: true
        description:
          type: string
          nullable: true

    RoleTemplateResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/GlobalRoleTemplate'

    PermissionTemplateResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/GlobalPermissionTemplate'

    GlobalRoleTemplate:
      type: object
      properties:
        template_id:
          type: string
          format: uuid
        template_code:
          type: string
        description:
          type: string
          nullable: true
      required: [template_id, template_code]

    GlobalPermissionTemplate:
      type: object
      properties:
        template_id:
          type: string
          format: uuid
        permission_code:
          type: string
        action:
          type: string
        resource:
          type: string
        default_condition:
          type: object
          nullable: true
          description: Điều kiện mặc định dưới dạng JSON (JSONB)
        description:
          type: string
          nullable: true
      required: [template_id, permission_code, action, resource]

    ResponseMeta:
      type: object
      properties:
        trace_id:
          type: string
        timestamp:
          type: string
          format: date-time
        source:
          type: string
        version:
          type: string
        duration_ms:
          type: integer
      required: [trace_id, timestamp]

    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: string

    ErrorEnvelope:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        error:
          $ref: '#/components/schemas/ErrorResponse'
        data:
          type: object
          nullable: true
      required: [meta, error, data]

    SuccessEnvelope:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        error:
          type: object
          nullable: true
      required: [meta, error]

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
